html,
body{
 height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-big{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.products-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
}

.products-item{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    border-radius: 10px;


    &__img-box {
        position: relative;
        overflow: hidden;
    }

    &__link-box {
        position: absolute;
        bottom: 72px;
        left: 0;
        right: 0;
        transform: translateY(300%);
        transition: all .3s;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
        transition: all .3s;
        margin: 0 7px;

        path {
            transition: all .3s;
        }
    }

    &__link:hover {
        path {
            fill: #fff;
        }

        background-color: $accent-blue;
    }

    &__img {
        margin: 0 auto;
        padding: 28px 0 75px;
        object-fit: cover;
    }

    &__title {
        font-size: 16px;
        line-height: 40px;
        @extend %dmsans-700;
        color: $subtitle;
    }

    &__info-box {
        padding-bottom: 35px;
    }

    &__price {
        font-size: 16px;
        @extend %dmsans-700;
        color: $accent-blue;
        margin-bottom: 35px;
    }

    &:hover {
        .products-item__link-box {
            transform: translateY(0);
        }
    }
}
