@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding: 48px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    padding-left: 162px;

    &__list {
        display: flex;

    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        color: $accent-dark;
        @extend %rubik-700;
        font-size: 15px;
        line-height: 12px;

    }
}

.user__nav {
    display: flex;
    align-items: center;

    &-box {
        background-color: $accent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        width: 178px;
        height: 50px;
        margin-left: 20px;
        padding-top: 7px;
    }

    &-link--menu {
        margin-left: 18px;
    }

    &-link--like {
        position: relative;
    }

    &-link--like::after {
        content: "";
        position: absolute;
        background-image: url(../images/stick.png);
        top: -10px;
        left: 51px;
        height: 32px;
        width: 1px;
        color: #fde7d3;
    }

    &-link {
        position: relative;
    }


    &-num {
        width: 16px;
        height: 16px;
        background-color: #fff;
        color: $subtitle;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 27px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -9px;
        right: -9px;
    }
}


.footer-top {
    padding: 65px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo img {
        display: block;
        margin-bottom: 28px;
    }

    &__item,
    a {
        display: block;
        @extend %rubik-400;
        color: $footer-default;
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &__item-title {
        color: #1f2044;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__item--account,
    &__item--newsletter,
    &__item--services {
        margin-top: 14px;
    }

    &__item--info {
        width: 190px;
        font-size: 14px;
        line-height: 24px;

    }

    &__item--info a {
        display: block;
        margin-bottom: 10px;

    }

    &__item--newsletter {
        max-width: 270px
    }

    &__item-descr {
        margin-bottom: 37px;
    }

    &__input {
        width: 170px;
        border: none;
        background-color: #fef7f0;
        padding: 8px 16px;

    }

    &__input::placeholder {
        @extend %dmsans-400;
        color: #234969;
        font-size: 12px;
    }

    &__button {
        border: none;
        background-color: $accent-blue;
        color: #fff;
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        width: 100px;
        height: 38px;
    }

    &__form {
        display: flex;
        align-items: center;
    }
}

.footer-bottom {

    border-top: 1px solid #dae4e9;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        @extend %rubik-400;
        color: $footer-default;
        font-size: 14px;
        line-height: 23px;

    }
}

.footer-menu {

    &__list,
    a {
        display: flex;
        @extend %rubik-400;
        color: $footer-default;
        font-size: 14px;
        line-height: 23px;

    }

    &__list-item+.footer-menu__list-item {
        padding-left: 32px;

    }

    &__list-item {
        position: relative;
    }

    &__list-item+.footer-menu__list-item::after {
        content: "|";
        position: absolute;
        top: -1px;
        left: 14px;

    }
}

.top-slider {
    &__inner {
        padding: 98px 0 83px;
        background-color: $accent;

    }

    &__title {
        @extend %rubik-700;
        font-size: 72px;
        color: $subtitle;
        margin-bottom: 20px;
        max-width: 431px;
    }

    &__text {
        @extend %rubik-400;
        color: $accent-dark;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 370px;
    }

    &__link {
        background-color: $accent-blue;
        color: #fff;
        @extend %rubik-700;
        font-size: 15px;
        padding: 23px 100px 23px 27px;
        display: block;
        max-width: 201px;
        position: relative;
    }

    &__link::after {
        content: "";
        position: absolute;
        background-image: url(../images/arrow.svg);
        width: 22px;
        height: 9px;
        top: 27px;
        right: 20px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        transform: translateY(20px);

        li {
            margin-left: 13px;

            button {
                padding: 0;
                border: none;
                background-color: #fde3cc;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                @extend %rubik-500;
                font-size: 11px;
                color: #667983;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                    color: $subtitle;
                }
            }
        }
    }

    &__item {
        display: flex !important;
        justify-content: space-around;
    }

    &__content {
        padding-top: 103px;
        padding-left: 163px;
    }

    &__img {
        padding-right: 100px;
    }
}

.servises {

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fef7f0;
        height: 170px;
    }

    &__item {
        position: relative;
        transform: translateX(40px);
    }

    &__item::before {
        content: "";
        position: absolute;
        left: -77px;
        top: 11px;
    }

    &__item--support::before {
        background-image: url(../images/support.png);
        width: 53px;
        height: 53px;
    }

    &__item--delivery::before {
        background-image: url(../images/delivery.png);
        width: 56px;
        height: 37px;
    }

    &__item--card::before {
        background-image: url(../images/card.png);
        width: 54px;
        height: 53px;
    }

    &__item-title {
        font-size: 18px;
        line-height: 40px;
        @extend %dmsans-700;
        color: #414141;
    }

    &__item-descr {
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #585858;
        max-width: 215px;
    }

}

.products {
    padding: 67px 0;

    &__title {
        @extend %rubik-700;
        font-size: 36px;
        color: $title;
        margin-bottom: 36px;
        text-align: center;
    }

    &__filter-buttons {
        text-align: center;
        margin-bottom: 80px;

    }

    &__btn {
        border: none;
        background-color: transparent;
        font-size: 16px;
        @extend %dmsans-700;
        color: $default;
        padding-left: 13px;
        padding-right: 12px;
    }

    .mixitup-control-active {
        color: $title;
    }

    .products-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    .products-item {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 270px;
        min-height: 380px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        text-align: center;
        border-radius: 10px;


        &__img-box {
            position: relative;
            overflow: hidden;
        }

        &__link-box {
            position: absolute;
            bottom: 72px;
            left: 0;
            right: 0;
            transform: translateY(300%);
            transition: all .3s;
        }

        &__link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            width: 45px;
            height: 45px;
            transition: all .3s;
            margin: 0 7px;

            path {
                transition: all .3s;
            }
        }

        &__link:hover {
            path {
                fill: #fff;
            }

            background-color: $accent-blue;
        }

        &__img {
            margin: 0 auto;
            padding: 28px 0 75px;
            object-fit: cover;
        }

        &__title {
            font-size: 16px;
            line-height: 40px;
            @extend %dmsans-700;
            color: $subtitle;
        }

        &__info-box {
            padding-bottom: 35px;
        }

        &__price {
            font-size: 16px;
            @extend %dmsans-700;
            color: $accent-blue;
            margin-bottom: 35px;
        }

        &:hover {
            .products-item__link-box {
                transform: translateY(0);
            }
        }
    }


}

.lights {
    padding: 128px 0 84px;

    &__inner {
        display: flex;
        justify-content: space-between;

    }

}

.lights-item {
    height: 388px;
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        max-width: 327px;
        display: flex;
        height: 79%;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(60px);
    }

    &__content--left {
        transform: translateX(13px);
    }

    &__img-box {
        margin-top: -179px;
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        @extend %dmsans-700;
        color: $subtitle;
        transform: translateY(18px);
    }

    &__descr {
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        color: $subtitle;
        transform: translateY(-4px);
    }

    &__link {
        font-size: 15px;
        color: $accent-dark;
        @extend %rubik-700;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        padding: 22px 85px 22px 20px;
        max-width: 181px;
        transform: translateY(-14px);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow-ilght.png);
            width: 22px;
            height: 9px;
            top: 28px;
            right: 21px;
        }
    }
}

.design {
    padding: 0 0 117px;

    &__title {

        @extend %rubik-700;
        font-size: 36px;
        color: $title;
        margin-bottom: 36px;
        text-align: center;

    }

    &__filter-buttons {
        text-align: center;
        margin-bottom: 77px;

    }

    &__btn {
        border: none;
        background-color: transparent;
        font-size: 16px;
        @extend %dmsans-700;
        color: $default;
        padding-left: 13px;
        padding-right: 10px;
    }

    .mixitup-control-active {
        color: $title;
    }

    .design__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 245px;
        max-width: 370px;
        padding: 40px 0 0 37px;
    }

    &__item-title {
        font-size: 20px;
        @extend %dmsans-700;
        color: $title;
        max-width: 170px;
    }

    &__item-type {
        font-size: 16px;
        @extend %dmsans-700;
        color: $accent-blue;
    }
}

.video {
    background-image: url(../images/video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.articles {
    padding-top: 115px;

    &__title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 44px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        color: $title;
    }


    &__link {
        @extend %dmsans-700;
        padding-right: 18px;
        font-size: 16px;
        color: $title;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/angle.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 8px;
            height: 14px;
            right: 0;
            top: 1px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;

        .articles-item {
            z-index: 20;

            &__img-box {
                height: 250px;
                width: 370px;
            }

            &__content {
                position: relative;
                height: 169px;
                background-color: #fff;
                padding-top: 34px;

            }

            &__link {
                width: 103px;
                height: 30px;
                @extend %poppins-700;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: #fff;
                background-color: $accent-blue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
                position: absolute;
                top: -15px;
                left: 28px;

            }

            &__text {
                @extend %dmsans-500;
                font-size: 18px;
                color: #262626;
                max-width: 276px;
                line-height: 24px;
            }

            &__date-box {
                min-height: 60px;
                padding: 18px 33px 25px;
                background-color: #fff;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-image: url(../images/stick1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 315px;
                    height: 1px;
                    top: 0;
                    right: 28px;
                }

                span {
                    @extend %rubik-400;
                    font-size: 12px;
                    padding-right: 30px;
                    color: #222933;
                }
            }

            &__content-box {
                height: 87px;
                padding-bottom: 18px;
                padding-left: 28px;
                background-color: #fff;
            }
        }
    }


}

.partners {
    background-color: #fef7f0;
    height: 437px;
    margin-top: -168px;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 270px;
    }

    &__item {
        padding: 0 45px;
    }
}

.top {
    &__inner {
        height: 124px;
        background-color: #edf1f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__title {
        @extend %rubik-300;
        font-size: 36px;
        color: #222933;
    }

    .breadcrumbs {
        &__list {
            display: flex;
        }

        &__item {
            color: #979ba0;
            padding: 0 10px;
        }

        &__item--first {
            position: relative;

            &::after {
                content: "/";
                position: absolute;
                width: 8px;
                height: 13px;
                color: #888c91;
                top: 4px;
                right: -6px;
            }
        }

        &__link {
            @extend %rubik-400;
            font-size: 14px;
            line-height: 24px;
            color: inherit;
        }

    }
}

.creative {
    padding: 119px 0;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item-box {
        width: 570px;
        height: 675px;
        margin-right: 46px;
    }

    &__item--content {
        padding-top: 85px;
    }

    &__item-exp {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        img {
            padding-right: 30px;
        }
    }

    &__item-descr {
        padding-top: 20px;

        p {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            color: $subtitle;
        }
    }

    &__item-title {
        @extend %rubik-700;
        font-size: 36px;
        color: $subtitle;
        margin-bottom: 36px;
    }

    &__item-text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: $subtitle;
        padding-bottom: 50px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-image: url(../images/after.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 500px;
            height: 2px;
            left: 0;
        }
    }

    &__item-projects {
        padding-top: 37px;
        display: flex;
        justify-content: space-around;

    }

    &__item-project {
        padding-left: 56px;
        position: relative;
        padding-right: 64px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
        }
    }

    &__item-project--first {
        position: relative;

        &::before {
            background-image: url(../images/creat-1.png);
            width: 37px;
            height: 38px;

        }

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/rect-creat.png);
            height: 81px;
            width: 1px;
            right: 30px;
            top: -5px;
        }
    }


    &__item-project--second {
        position: relative;

        &::before {
            background-image: url(../images/creat-2.png);
            width: 42px;
            height: 40px;

        }

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/rect-creat.png);
            height: 81px;
            width: 1px;
            right: 30px;
            top: -5px;
        }
    }




    &__item-project--third::before {
        position: absolute;
        background-image: url(../images/creat-3.png);
        width: 41px;
        height: 41px;

    }

    &__item-project__title {
        @extend %rubik-700;
        font-size: 36px;
        line-height: 38px;
        color: $subtitle;
        margin-bottom: 7px;
    }

    &__item-project__descr {
        @extend %rubik-700;
        font-size: 16px;
        line-height: 17px;
        color: #585858;
    }
}

.achievements {
    background-color: $accent;
    padding: 95px 0 80px;

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 74px;
            height: 60px;
            margin-bottom: 15px;
        }
    }

    &__item--second {
        img {
            width: 73px;
            height: 52px;
        }
    }

    &__item--third {
        img {
            width: 79px;
            height: 64px;
        }
    }

    &__item--forth {
        img {
            width: 61px;
            height: 64px;
        }
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 36px;
        color: $subtitle;
        margin-bottom: 10px;
    }

    &__item-descr {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
        color: $subtitle;
    }
}

.team {
    padding: 117px 0 173px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__about {
        max-width: 308px;
        color: $subtitle;
    }

    &__about-title {
        @extend %rubik-700;
        font-size: 36px;
        margin-bottom: 28px;
    }

    &__about-text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 36px;
    }

    &__about-link {
        @extend %poppins-700;
        font-size: 15px;
        line-height: 55px;
        color: #fff;
        background-color: #a3bbc8;
        padding: 16px 60px 16px 18px;
        border-radius: 5px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow--link.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 15px;
            height: 11px;
            top: 21px;
            right: 21px;

        }
    }

    &__members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px 30px;
    }

    &__member {
        position: relative;
    }

    &__member-info {
        position: absolute;
        padding: 26px 24px;
        display: flex;
        justify-content: space-between;
        min-width: 324px;
        align-items: center;
        bottom: -68px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &__member-social {
        display: flex;
    }

    &__member-social img {
        width: 41px;
        height: 41px;
        margin-left: 9px
    }

    &__member-name {
        @extend %poppins-700;
        font-size: 22px;
        line-height: 26px;
        color: $accent-dark;
        margin-bottom: 5px;
    }

    &__member-position {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #565872;
    }

}

.acticles__about,
.acticles__terms {
    padding-top: 0;
}

.types {
    color: $subtitle;
    padding: 114px 0 70px;

    ol {
        margin-bottom: 48px;
    }

    h3 {
        @extend %rubik-700;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    li,
    p {
        @extend %rubik-500;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 17px;
    }
}

.personal__collection {
    margin-bottom: 48px;
}

.login {
    padding: 109px 0 117px;

    &__form {
        text-align: left;
        @extend %rubik-700;
        font-size: 14px;
        color: $accent-dark;
        display: flex;
        flex-direction: column;
        width: 470px;
        margin: 0 auto;
    }

    &__form a {
        @extend %rubik-700;
        font-size: 14px;
        color: $accent-dark;
    }

    &__label {
        display: flex;
        flex-direction: column;

    }

    &__input {
        height: 60px;
        border: 2px solid #f6f6f6;
        margin-top: 10px;
        margin-bottom: 27px;
    }

    &__button {
        margin-top: 10px;
        border: none;
        background-color: $accent-blue;
        color: #fff;
        @extend %rubik-500;
        font-size: 18px;
        padding: 20px 0;
        margin-bottom: 35px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 33px;
        border-bottom: 2px solid #f6f6f6;

        label {
            display: flex;
            justify-content: space-between;

        }

        input {
            margin-right: 10px;
        }
    }

    &__register {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    a.login__create {
        text-align: center;
        @extend %rubik-700;
        font-size: 20px;
        border: 2px solid $subtitle;
        padding: 20px 0;
    }
}

.login__partners {
    margin-top: 0;
    height: 250px;
}

.login__partners--inner {
    padding-top: 75px;
}

.product {
    padding: 119px 0 100px;

    .product-item {
        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__slide {
            width: 550px;
            margin-right: 70px;
        }

        &__content {
            width: 535px;
            padding: 25px 0 27px;

        }

        &__title {
            @extend %rubik-400;
            font-size: 40px;
            color: #333333;
            margin-bottom: 14px;
        }

        &__price {
            @extend %rubik-400;
            font-size: 30px;
            line-height: 45px;
            color: #333333;
            margin-top: 25px;
            margin-bottom: 14px;
        }

        &__descr {
            @extend %rubik-700;
            font-size: 16px;
            line-height: 30px;
            color: $subtitle;
            margin-bottom: 24px;
        }

        &__form {
            margin-bottom: 47px;
            display: flex;
        }

        &__tags {
            @extend %rubik-500;
            font-size: 16px;
            line-height: 30px;
            color: $subtitle;

        }

        &__btn {
            @extend %rubik-500;
            font-size: 15px;
            line-height: 30px;
            color: #fff;
            border: none;
            background-color: $accent-blue;
            border-radius: 5px;
            width: 208px;
            height: 53px;
            cursor: pointer;
            margin-left: 15px;

        }

        &__input {
            position: relative;
            width: 147px;
            height: 49px;
        }

        .jq-number {
            padding: 0;
        }

        .jq-number__spin.minus {
            top: 0;
            left: 0px;

        }

        .jq-number__field {
            width: 147px;
            border: 1px solid $accent-blue;
            border-bottom-color: $accent-blue;
            border-radius: 0;
            box-shadow: none;
        }

        .jq-number__field input {
            width: 100%;
            height: 51px;
            border: none;
            outline: none;
            background: none;
            text-align: center;
            @extend %rubik-500;
            color: #333;

        }

        .jq-number__spin {
            width: 47px;
            height: 53px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            border: 1px solid $accent-blue;

        }

        .jq-number__spin.minus:after,
        .jq-number__spin.plus:after {
            display: none;
        }

        .jq-number__spin.minus:before {
            content: "";
            position: absolute;
            top: 23px;
            left: 16px;
            background-image: url(../images/product/-.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #333;
            width: 14px;
            height: 2px;
        }


        .jq-number__spin.plus:before {
            content: "";
            position: absolute;
            top: 18px;
            left: 15px;
            background-image: url(../images/product/+.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #333;
            width: 14px;
            height: 12px;
        }


        .product-info {
            &__item {
                display: flex;
            }

            &__title {
                margin-right: 5px;
            }
        }
    }
}

.product-slide {
    display: flex;

    .slick-vertical .slick-slide {
        width: 138px;
        height: 160px;
        margin-bottom: 25px;
    }

    &__thumb {
        width: 138px;
        margin-right: 25px;
        cursor: pointer;
    }

    &__thumb-item {
        width: 138px;
        height: 160px;
        margin-right: 25px;
        margin-bottom: 25px;

        img {
            width: 138px;
            height: 160px;
        }
    }

    &__big {
        width: 387px;
        height: 530px;
        object-fit: cover;
    }
}

.products-tabs{
    padding: 0 0 111px;
    &__box{
     margin-bottom: 35px;
    }
    &__btn{
        padding: 0;
        width: 241px;
        height: 53px;
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 13px;
        @extend %rubik-700;
        color: $subtitle;
        background-color: #edf1f4;
        transition: all .3s;
        &.products-tabs__btn--active{
            background-color: $accent-blue;
            color: #fff;
        }
       
    }
    &__content{
        @extend %rubik-500;
        font-size: 16px;
        line-height: 30px;
    }
    &__tab{
        display: none;
        &.products-tabs__tab--active{
            display: block;
            
        }
    }

    
}
.related{
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        color: $subtitle;
    }
    
}


@import 'media';